.news-navigation {
    .selected {
        color: #f85959;
    }

    background: #f4f5f6;
    height: 38px;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    margin: 0;
    padding: 0;
    font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;

    li {
        display: inline-block;
        margin: 10px 0px 10px 4px;
        font-size: 18px;
        padding: 0px 10px;
        color: #505050;
    }
    
    .li-1 {
        color: #f85959;
    }

    #sign {
        font-size: 34px;
        color: #f85959;
        position: absolute;
        right: 0px;
        top: 38px;
        background: #f4f5f6;
        height: 32px;
        width: 14px;
    }
}

