.list-mid div {
    width: 564px;

    .content {
        padding: 32px 0px;
        width: 537px;
        margin: 0px 30px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.6);

        span {
            color: #222;
            font-size: 34px;
            font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
            font-weight: normal;
            display: block;
            padding: 0px 0px 12px 0px;
            line-height: 42px;
        }
    
        h4 {
            border-radius: 4px;
            color: #f85959;
            text-align: center;
            border: 1px solid  rgba(248, 89, 89, 0.5);
            display: inline-block;
            font-size: 18px;
            width: 48px;
            line-height: 24px;
            margin: 0px 10px 0px 0px;
        }
    
        .line-bt {
            display: inline-block;
            margin: 0;
            width: 430px;
            height: 26px;
            border-color: #fff;
            
            h5 {
                font-size: 20px;
                color: #999;
                display: inline-block;
                font-weight: normal;
                margin: 0px 10px 0px 0px;
                font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
            }
        }

        .line-left {
            width: 65%;
            display: inline-block;
        }

        .img-1 {
            background: url(https://p3.pstatp.com/list/dfic-imagehandler/044ed730-402a-4d94-8e9d-6777a1273e07) #efefef no-repeat center center;
            display: inline-block;
            width: 186px;
            height: 123px;
            position: relative;
            left: 1px;
            top: -13px;
            background-size: 185px 122px;
        }
    }  
}
