.news-header {
    background: #d43d3d;
    height: 88px;
    margin: 0 auto;

    .title {
        background: url(http://s3b.pstatp.com/growth/mobile_list/image/wap_logo@3x_581de69e.png) no-repeat right center;
        width: 196px;
        height: 88px;
        background-size: 166px 41px;
        display: inline-block;
        position: relative;
        left: 189px;
    }
    
    .icon-1 {
        background: url(http://s3a.pstatp.com/growth/mobile_list/image/titlebar_refresh_small@3x_96fb31e4.png) no-repeat center center;
        display: inline-block;
        width: 50px;
        height: 88px;
        position: relative;
        left: 189px;
        background-size: 30px 30px;
    }
    
    .icon-2 {
        background: url(http://s3.pstatp.com/growth/mobile_list/image/feed_ic_search_normal@3x_0f198e56.png) no-repeat center;
        display: inline-block;
        width: 48px;
        height: 48px;
        background-size: 48px 48px;
        position: relative;
        left: 281px;
        top: -15px;
        background-position: 5px -5px;
    }
}